<style type="text/css">

body {
    overflow: hidden;
    padding-top: 50px;
    margin: 0;
}

#numtips {
  font-variant: small-caps;
  font-weight: bold;
}

span.question-title {
  font-weight: bold;
  font-family: serif;
  font-variant: small-caps;
  color: #003A70;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>


<!-- TODO: Remove LLAB Stuff -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="ag-header">
  <div class="container-fluid">
    <div class="navbar-left" id="autograding_bar">
      <div class="navbar-brand">
        <span class="question-title">Exercise: <%= @question.title %></span>
      </div>
      <div class="navbar-header">
        <div class="btn-toolbar" role="group" aria-label="...">
          <div class="nav-btns btn-group">
            <button class="btn btn-info navbar-btn" id="autograding_button">
              Get Feedback
            </button>
            <div class="btn-group dropdown" id="ag-action-menu">
              <button class="btn btn-primary navbar-btn dropdown-toggle"
                 type="button" data-toggle="dropdown" id="ag-controls"
                 aria-haspopup="true" aria-expanded="false">
                Options
                <span class="caret"></span>
                <span class="sr-only">Toggle AG Menu</span>
              </button>
              <ul class="dropdown-menu"
                  role="menu" aria-labeledby="ag-controls">
                <li>
                  <a href="#" id="show-results-button" onclick="openResults()">
                    Show Test Results
                  </a>
                </li>
                <li class="divider" role="separator"></li>
                <li class="disabled">
                  <a href="#" id="undo-button" disabled>
                    Revert to Last Attempt
                  </a>
                </li>
                <li class="disabled">
                  <a href="#" id="revert-button" disabled>
                    Reset to Best Attempt
                  </a>
                </li>
                <li class="divider" role="separator"></li>
                <li>
                  <a href="#" class="text-danger" id="reset-button">
                    Reset
                  </a>
                </li>
                <li class="divider" role="separator"></li>
                <li class="disabled">
                  <a href="#" onclick="openPopup()" id="help-button">Help</a>
                </li>
              </ul>
            </div> <!-- /dropdown -->
          </div>
          <div class="btn-group">
            <!-- Connect to 'Show Feedback' thing that doesn't run tests. -->
            <button class="btn btn-default navbar-btn tips-msg"
                    id="numtips"
                    onClick="openResults()">
              <span class="badge">0</span> Tips
            </button>
          </div>
        </div> <!-- .btn-toolbar -->
      </div>
    </div>
  </div>
</nav>

