<div class="ag-header pos-f-t">
      <div class="collapse" id="navbar-header" aria-expanded="false" style="height: 0px;">
        <div class="container-fluid bg-inverse p-a-1">
          <h3>Collapsed content</h3>
          <p>Toggleable via the navbar brand.</p>
        </div>
      </div>
      <div class="navbar navbar-light bg-faded navbar-static-top">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-header" aria-expanded="false">
          ☰
        </button>
      </div>
    </div>