<style type="text/css">

body, .snap {
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    line-height: 1;
}
#numtips {
    border: 1px solid #666666;
    border-radius: 4px;
}

.llab-nav {
  background: #FFF;
  margin: 0;
  width: 100%;
  padding: .5em 1em;
  vertical-align: middle;
}

#question-title {
    padding: 4px;
    line-height: 1.2;
    float: left;
    font-size: 1.2em;
    min-width: 50%;
    max-width: 80%;
    font-variant: small-caps;
    color: #003A70;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.nav-btns {
  float: left;
  z-index: 9999;
  min-width: 15em;
  margin-bottom: 0; /* Bootstrap override for ul, defaults 10 otherwise */
  font-weight: 900;
  position: relative;
  vertical-align: middle;
}

.dropdown-menu {
  width: 15em;
  white-space: nowrap;
  overflow-x: hidden;  /* Text truncation */
  text-overflow: ellipsis;
}

.dropdown-item {
    padding: 4px 8px;
    font-weight: normal;
    font-size: 10pt;
    text-align: left;
}
</style>


<!-- TODO: Remove LLAB Stuff -->
<nav class="llab-nav navbar navbar-default navbar-static-top" role="navigation" id="ag-header">
    <div class="nav navbar-nav navbar-left" id="autograding_bar">
        <div class="nav-btns btn-group">
            <div class="btn-group dropdown" id="onclick-menu">
                <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle AG Menu</span>
                    <span title="Menu">&#9776;</span>
                    <div class='hover_darken'></div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labeledby="Autograder Controls Menu">
                    <li class="dropdown-item enabled-button" role="presentation" id="undo-button">Revert to Last Attempt</li>
                    <li class="dropdown-item enabled-button" role="presentation" id="revert-button">Rest to Best Attempt</li>
                    <li class="divider" role="separator"></li>
                    <li class="dropdown-item enabled-button" role="presentation" id="reset-button">Reset</li>
                    <li class="divider" role="separator"></li>
                    <li class="dropdown-item enabled-button" onclick="openPopup();" id="help-button" role="presentation">Help</li>
                </ul>
            </div>
            <button class="btn btn-default" id="autograding_button">Get Feedback</button>
            <!-- Add a 'Show Feedback' thing that doesn't run tests. -->
            <span class="btn" id="numtips">No Tips Yet</span>
        </div>
    </div>
    
    <div class="container navbar-right" id="question-title">
    <!-- <div class="nav navbar-nav navbar-right" id="question-title"> -->
      <%= @question.title %>
    </div>
</nav>


