<% content_for :head do %>
  <!-- NOTE: jQuery and _ are included in the Rails App  -->
  
  <!-- AG Snap Modifications -->
  <script src="/snap-path.js"></script>
  <script src="/autograder/ag-files/snap-ui-overrides.js"></script>

  <!-- Autograder custom display -->
  <link rel="stylesheet" type="text/css" href="/autograder/ag-files/AG_status_bar.css" />
  <link rel="stylesheet" type="text/css" href="/autograder/ag-files/hintstyle.css" />

  <!-- Main autograder components -->
  <script src='/autograder/ag-files/ag-util.js'></script>
  <script src='/autograder/ag-files/spriteEventLog.js'></script>
  <script src='/autograder/ag-files/scriptAnalysis.js'></script>
  <script src="/autograder/ag-files/AGAgent.js"></script>
  <script src='/autograder/ag-files/feedbackLog.js'></script>
  <script src="/autograder/ag-files/AGFormatting.js"></script>

  <!-- Custom cloud access on localhost only. -->
  <% if Rails.env == 'development' %>
  <script src="/autograder/ag-files/snap-local-cloud.js"></script>
  <% end %>

  <!-- Load snap + AG additions, similar to snap.html -->
  <script>
  // THIS SEEMS LIKE A HACK.
  // but this site is not edX....
  isEDX = false;
  var world, world_canvas;
  window.onload = function () {
      var ide, grade_button;
      world_canvas = document.getElementById('world')
      world = new WorldMorph(world_canvas);
      ide = new IDE_Morph();
      ide.openIn(world);
      // Start Snap Environment Loop
      loop();

      // AUTOGRADER ADDITIONS:
      // Set Snap! to small stage mode
      ide.toggleStageSize(true);
      // Initialize AGSB button.
      grade_button = document.getElementById("autograding_button");
      grade_button.addEventListener('click', button_listener);
      world_canvas.addEventListener("mouseup", update_listener);
      // This is a link relative to /problems/N/
      starter_path = gon.starter_file_path;
      initializeSnapAdditions(world, ide);
  };

  function loop() {
      requestAnimationFrame(loop);
      world.doOneCycle();
  }

  </script>
<% end %>

<!-- Snap Autograding Button -->
<div id="autograding_bar">
  <div tabindex="0" class="onclick-menu" id='onclick-menu' style="display:inline-block">
    <span title="Menu">&#9776;</span>
    <div class='hover_darken'></div>
    <nav id="navigation" class="site-navigation" role="navigation">
      <ul id="dropdown-closed" class="bubble">
        <li class="menu-item-sub-menu" id="enabled-button">
            <a id="undo-button">Revert To Last Attempt</a>
        </li>
        <li class="menu-item-sub-menu" id="enabled-button">
            <a id="revert-button">Revert To Best Attempt</a>
        </li>
        <li class="menu-item-sub-menu" id="enabled-button">
            <a id="reset-button">Reset</a>
        </li>
        <li class="menu-divider-sub-menu" id='menu-divider'></li>
        <li class="menu-item-sub-menu" id='enabled-button' onclick="openPopup();">
            <a id="help-button">Help</a>
        </li>
      </ul>
    </nav>
  </div>
  <div id="autograding_button" style="display:inline-block;">
    <span></span>
    <div class='hover_darken'></div>
  </div>
  <div id="numtips" style="display:inline-block"></div>
</div>

<!-- Snap Autograding Menu -->
<!-- Autograding Menu Help Button -->
<div class="overlay is-hidden" id="overlay">
  <p class="help-text" id="full-screen-arrow">&#8600;</p>
  <p class="help-text" id="full-screen-help">This full-screen button will pop out the Snap! window.</p>
  <p class="help-text" id="menu-item-arrow">&#8599;</p>
  <p class="help-text" id="menu-item-help">The first two menu items will revert your current Snap! state to one of your previous attempts, depending on whether you wish to revert to your last graded attempt or to your best attempt.</br></br>The 'Reset' button will revert to a blank Snap! project, or to a provided starter file if one is given for this problem.</p>
  <p class="help-text" id="ag-button-arrow">&#8593;</p>
  <p class="help-text" id="ag-button-help">Clicking this button will grade your current attempt and send the results to edX.</p>
</div>

<div style="display:inline-block" class="view-results"
  id="circle" onclick="openResults();">Results
</div>

<div class="overlay is-hidden" id="ag-output">
  <div class="popup-content" id="ag-results">
    <span class="button-close" onclick="closeResults();" id="popup">X</span>
    <div id="toggle-correct-tests"></div>
    <p id="comment"></p>
  </div>
</div>

<!-- TODO: Move THIS -->
<!-- GETFEEDBACK FORM -->
<script>
  (function(w,d,s,u,g,a,b){w['GetFeedbackObject']=g;w[g]=w[g]||function(){
  (w[g].q=w[g].q||[]).push(arguments)};a=d.createElement(s),
  b=d.getElementsByTagName(s)[0];a.async=1;a.src=u;b.parentNode.insertBefore(a,b)
  })(window,document,'script','//websites-beta.cdn.getfeedback.com/embed/5eojzRMI01/gf.js','gf')
</script>
