[submodule "public/autograder"]
	path = public/autograder
	url = git://github.com/cycomachead/lambda-evaluator.git
[submodule "public/snap"]
	path = public/snap
	url = git://github.com/cycomachead/snap.git
